@font-face {
    font-family: pixeloid;
    src: url(./pixeloid.ttf);
}

:root {
    --font: pixeloid, monospace;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    user-select: none;
}
body {
    background-color: #262626;
}
:root {
    --bg-col: #fff;
}
.content {
    margin-top: 51vh;
    color: #fff;
    height: 49vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moveBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 3rem;
}
.__rainbow32_textbutton {
    height: 25px;
    background-color: #171717;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    font-family: var(--font);
    font-weight: bold;
    padding: 0px 0.5rem;
    min-width: 3rem;
}
.__rainbow32_textbutton:active,
.__rainbow32_textbutton.active {
    background-color: #15803d;
}
.fileselect {
    user-select: none;
    width: fit-content;
    white-space: pre;
    font-family: monospace;
    text-overflow: ellipsis;
    width: 25vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0px 0.5rem;
}

.fileselect > span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.fileselect.active > span {
    text-decoration: underline;
}

.fileSelector {
    padding-top: 0px;
    overflow: hidden;
    width: auto;
    height: 50vh;
    aspect-ratio: 200/180;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    z-index: 20;
    background-color: white;
}

.path {
    border-bottom: 1px solid gray;
    padding: 0.25rem;
    user-select: none;
}

.debug-data {
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}